*{
    margin: 0;
    padding: 0;

}

   
.gallery{
  width: 900px;
  display: flex;
  overflow-x: scroll;
align-items: center;
justify-content: center;
margin: 10% auto;
}
@keyframes scrollBackAndForth {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(400%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .gallery div img {
    animation: scrollBackAndForth 15s linear infinite;
  }
.gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;

}
.gallery::-webkit-scrollbar{
    display: none;
}
.gallery div img{
    width: 100%;

}
.top p{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    padding-top: 0;
    margin-top: 30px;
 text-align: center;
 justify-content: center;
    color: white;
}
.top{
    margin-top: 0;
    height: 20vh;
    width: 100%;
    background-color: rgb(8, 72, 115);
    position: absolute;
}
.header h1{
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    padding-top: 0;
    margin-top: 40px;
    margin-left: 100px;
    color: white;
}

.back{
    height: 80vh;
    width: 100%;
    margin-top: 130px;
    padding-top: 50px;
 
    
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../beach1.jpg);
   
    background-size: cover;
   


}
.back h1{
    color: white;
    font-size: 60px;
    text-align: center;
    margin-top: 10px;
    font-weight: 500;

}
.back h2{
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 60px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.btn a{
   
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 16px 30px;
    font-size: 20px;
    font-weight: 500;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 50px;
  margin-left: 550px;
   

}
.btn a:hover{
    border-radius: 50px;
    border: 1px solid rgb(171, 121, 13);
    background: linear-gradient(to right, #dc8e12, #eba715);
    margin-left: 550px;
    transition: 1s;
}
.mid{
    margin-top: 100px;
}
.mid h1{
    text-align: center;
    font-size: 35px;
    color: black;
    font-weight: 700;


}
.mid h2{
    text-align: center;
    font-size: 20px;
    color: black;
    font-weight: 200s;
 
}
